:root {
  --color-pink: #fd377e;
  --color-pink1: #e34981;
  --color-blue: #03b898;
  --color-grey1: #f8f9fa;
  --color-grey2: #e9ecef;
  --color-grey3: #868e96;
  --color-grey4: #212529;
  --color-grey5: #343a40;
  --color-white: #ffffff;
}
